@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #1A1A18;
  color: white;
  max-width: 1440px;
  margin: 0 auto;
  width: 100%;
  text-align: center;
  font-family: "Jura", sans-serif;
}

.body_white {
  background-color: white;
  color: black;

}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}


p, h1, h2, h3, h4, h5, h6{
  margin: 0;
  padding: 0;
}

a:active,
a:hover,
a {
  text-decoration: none;
}
ul {
  margin: 0;
  padding: 0;
}
li {
  list-style-type: none;
}

header {
  background-image: url("../../../public/header.svg");
  min-height: 138px;
  margin-top: 20px;
} 


input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

.narrowo_band {
  min-height: 100px;
  background-image: url("../../../public/narrow_band.svg");
  background-repeat: no-repeat;
  height: 100%;
  width: 100%;
  background-size: 100% auto;
}
.white_narrowo_band {
  min-height: 100px;
  background-image: url("../../../public/white_narrow_band.svg");
  background-repeat: no-repeat;
  height: 100%;
  width: 100%;
  background-size: 100% auto;
}

@media (max-width: 950px) { 
  header {
    background: #1A1A18;
    min-height: 50px;
    margin-top: 0px;
  } 

}