.photo_nav {
    width: 36px;
    height: 36px;
    transition: 0.2s;
    

}
.photo_nav_ds {
    background-image: url('./../../../public/ds_icon.svg');
}
.photo_nav_tg {
    background-image: url('./../../../public/tg_icon.svg');  
}
.photo_nav_vk {
    background-image: url('./../../../public/vk_icon.svg');
}

.photo_nav_ds:hover {
    background-image: url('./../../../public/ds_icon_hover.svg');
}
.photo_nav_tg:hover {
    background-image: url('./../../../public/tg_icon_hover.svg');  
}
.photo_nav_vk:hover {
    background-image: url('./../../../public/vk_icon_hover.svg');
}

.active {
    position: relative; /* Устанавливаем позицию для родительского элемента */
    text-decoration: none; /* Убираем стандартное подчеркивание */
}

.active::after {
    content: ''; /* Создаем пустой контент для псевдоэлемента */
    position: absolute; /* Позиционируем относительно родителя */
    left: 0; /* Выравнивание по левому краю */
    bottom: -5px; /* Расстояние от текста (можно настроить) */
    width: 100%; /* Ширина линии равна ширине текста */
    height: 2px; /* Высота линии */
    background-color: white; /* Цвет линии */
    box-shadow: 0 0 3px 1px #83EEFF; /* Свечение */
    border-radius: 1px; /* Закругление краев (по желанию) */
    transition: box-shadow 0.3s ease; /* Плавный переход для свечения */
}

.active:hover::after {
    box-shadow: 0 0 6px 1px #83EEFF; /* Увеличиваем свечение при наведении */
}
