.photo_nav {
    width: 36px;
    height: 36px;
    transition: 0.2s;
}
.photo_nav_ds {
    background-image: url('./../../../public/ds_icon.svg');
}
.photo_nav_tg {
    background-image: url('./../../../public/tg_icon.svg');  
}
.photo_nav_vk {
    background-image: url('./../../../public/vk_icon.svg');
}

.photo_nav_theme {
    background-image: url('./../../../public/theme.svg');
}

.photo_nav_ds:hover {
    background-image: url('./../../../public/ds_icon_hover.svg');
}
.photo_nav_tg:hover {
    background-image: url('./../../../public/tg_icon_hover.svg');  
}
.photo_nav_vk:hover {
    background-image: url('./../../../public/vk_icon_hover.svg');
}

.photo_nav_theme:hover {
    background-image: url('./../../../public/theme_hover.svg');
}

.active {
    position: relative;
    text-decoration: none;
}

.active span::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: -5px;
    width: 100%;
    height: 2px;
    background-color: white;
    box-shadow: 0 0 3px 1px #83EEFF;
    border-radius: 1px;
    transition: box-shadow 0.3s ease;
}

.active:hover::before {
    box-shadow: 0 0 6px 1px #83EEFF;
}

.profile {
    display: flex;
    align-items: center;
  }
  
.profile::after {
    content: " ";
    display: inline-flex;
    background-image: url("../../../public/profile.svg");
    background-size: 40px 47px;
    height: 47px;
    width: 40px;
    margin-left: 15px;
}

.profile span {
    display: inline-block; /* Оберните текст в span */
    position: relative; /* Для псевдоэлемента */
}