

.pop_up_buy_conteiner {
    border: 2px solid transparent;
    background-image: linear-gradient(#1A1A18, #1A1A18),
    linear-gradient( to right, #83EEFF, #3A0184); 
    background-origin: border-box;
    background-clip: padding-box, border-box;
    border-radius: 18px ;
}


.pup_up_buy_button {
    width: 100%;
    display: block;
    padding-top: 5px;
    padding-bottom: 7px;
}
