.dark_pop_up_buy_conteiner {
    border: 2px solid transparent;
    background-image: linear-gradient(#1A1A18, #1A1A18),
    linear-gradient( to right, #83EEFF, #3A0184); 
    background-origin: border-box;
    background-clip: padding-box, border-box;
    border-radius: 18px ;
}

.white_pop_up_buy_conteiner {
    border: 2px solid transparent;
    background-image: linear-gradient(#ffffff, #ffffff),
    linear-gradient( to right, #83EEFF, #3A0184); 
    background-origin: border-box;
    background-clip: padding-box, border-box;
    border-radius: 18px ;
}

.pop_up_buy {
    letter-spacing: 5px;
    background-position: bottom center;
    background-size: 100% auto;
    background-repeat: no-repeat;
}

.dark_pop_up_buy {
    background-image: url("../../../public/background_button.svg");
}

.white_pop_up_buy {
    background-image: url("../../../public/white_background_button.svg");
}

.dark_pop_up_buy input {
    background-color: #1A1A18;
    border: #ffffff7b 1px solid;
}

.white_pop_up_buy input {
    background-color: #ffffff;
    border: #1A1A18 1px solid;
}

.pop_up_buy input {
    border-radius: 5px;
    padding: 5px;
    letter-spacing: 3px;
}

.pup_up_buy_button {
    width: 100%;
    display: block;
    padding-top: 5px;
    padding-bottom: 7px;
}
